@model PaginatedList<Blackbird.Application.TO.ProductTO>

@{
    ViewData["Title"] = "Index";
    int counter = 1;
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-default">Edit</a>
                    <a asp-action="Detail" class="btn btn-default">Detail</a>
                    <a asp-action="Delete" class="btn btn-default">Delete</a>
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-pageIndex="@(Model.PageIndex-1)" class="btn btn-default @prevDisabled">Previous</a>
<a asp-action="Index" asp-route-pageIndex="@(Model.PageIndex+1)" class="btn btn-default @nextDisabled">Next</a>